spring:

  profiles:
    active: local

  security:
    oauth2:
      client:
        registration:
          kakao:
            admin: ${KAKAO_ADMIN}
            client-id: ${KAKAO_CLIENT_ID}
            client-secret: ${KAKAO_CLIENT_SECRET}
            client-name: Kakao
            client-authentication-method: POST
            redirect-uri: ${KAKAO_REDIRECT_URI}
            authorization-grant-type: authorization_code
            scope:
              - account_email

jwt:
  secret-key: ${JWT_SECRET}
  expiration:
    access: 900       # 15분 (s)
    refresh: 1209600  # 14일 (s)

kakao:
  oauth:
    admin: ${KAKAO_ADMIN}
    client-id: ${KAKAO_CLIENT_ID}
    client-secret: ${KAKAO_CLIENT_SECRET}
    redirect-uri: ${KAKAO_REDIRECT_URI}
---
spring:
  config:
    activate:
      on-profile: local

  data:
    redis:
      host: 127.0.0.1
      port: 6379

  datasource:
    url: jdbc:mysql://localhost:3306/damo?serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: false
    defer-datasource-initialization: true

  sql:
    init:
      mode: always

  output:
    ansi:
      enabled: ALWAYS

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.data.mongodb.core.MongoTemplate: DEBUG

decorator:
  datasource:
    p6spy:
      enable-logging: true

springdoc:
  swagger-ui:
    path: /api-test
    csrf:
      enabled: true

---
spring:
  config:
    activate:
      on-profile: test

  data:
    redis:
      host: 127.0.0.1
      port: 6380

  datasource:
    url: jdbc:mysql://localhost:3306/damo_test?serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: false
        show_sql: false
    defer-datasource-initialization: true

  sql:
    init:
      mode: always

decorator:
  datasource:
    p6spy:
      enable-logging: false
